<h1>Chat</h1>
<form id="formulario">
<input type="email" name="email" id="email"> 
<input type="text" name="messages" id="messages">
<input type="submit" value="enviar">
</form>
<div id="messagesContainer"></div>

<script src="../public/js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>